.color-primary{
    color: var(--c-primary);
}

.color-secondary{
    color: var(--c-secondary);
}

.color-white{
    color: var(--c-white);
}

.color-black{
    color: var(--c-black);
}

.color-grey{
    color: var(--c-grey);
}

.color-light-grey{
    color: var(--c-light-grey);
}

.color-dark-grey{
    color: var(--c-dark-grey);
}