html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-light;
  // font-size: 0.834vw;
  // font-size: 1vw;
  font-size: 17px;
  min-height: 100%;
  letter-spacing: 0px;
  margin: 0;

  @include below($xxl){
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-regular;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: rem(75);

  @include below($sm){
    font-size: rem(50);
  }
}

h2{
  font-size: rem(40);
}

h3{
  font-size: rem(30);
}

h4{
  font-size: rem(21);
}

h5{
  font-size: rem(17);
}

h6{
  font-size: rem(15);
}

p{
  // font-family: $font-light;
  font-size: rem(18);
  line-height: 1.4;
}

.container {
  padding-left: rem(20);
  padding-right: rem(20);
  margin: auto;
  max-width: 75%;

  @include below($sm){
    max-width: 100%;
  }
}

.container-fluid {
  padding-left: rem(20);
  padding-right: rem(0);
  margin-left: auto;
  margin-right: 0;
  max-width: calc(100% - 12.5%);

  @include below($sm){
    padding-right: rem(20);
    max-width: 100%;
  }
}

a,
.btn,
.icon {
  transition: 0.3s all;
}

a {
  text-decoration: none;
  color: var(--c-primary);

  &:hover,
  &:focus {
    color: var(--c-secondary);
  }
}

.no-bullets{
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-fill{
  background-color: var(--c-light-grey);
}

.transition{
  transition: 0.15s all ease-in-out;
  transform-origin: center center;
}

.x-scroll{
  overflow-x: scroll;
}