html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-light);
  font-size: 17px;
  color: var(--c-secondary);
  min-height: 100%;
  letter-spacing: 0px;
  margin: 0;

  @include below($xxl){
    font-size: rem(15);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-regular);
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
}

h1, .h1 {
  font-size: rem(75);

  @include below($sm){
    font-size: rem(40);
  }
}

h2, .h2{
  font-size: rem(40);
}

h3, .h3{
  font-size: rem(30);
}

h4, .h4{
  font-size: rem(21);
  line-height: rem(26);
}

h5, .h5{
  font-size: rem(17);
  line-height: rem(22);
}

h6, .h6{
  font-size: rem(15);
}

p{
  // font-family: var(--font-light);
  font-size: rem(16);
  line-height: 1.4;

  @include below($sm){
    font-size: 16px;
  }
}

.container {
  padding-left: rem(20);
  padding-right: rem(20);
  margin: auto;
  max-width: 75%;

  @include below($xxl){
    max-width: 80%;
  }

  @include below($md){
    max-width: 100%;
    padding-left: rem(30);
    padding-right: rem(30);
  }
}

.container-fluid {
  padding-left: rem(20);
  padding-right: rem(0);
  margin-left: auto;
  margin-right: 0;
  max-width: calc(100% - 12.5%);

  @include below($xxl){
    max-width: calc(100% - 10%);
  }

  @include below($md){
    padding-left: rem(30);
    padding-right: rem(30);
    max-width: 100%;
  }
}

.container-full{
  padding-left: rem(20);
  padding-right: rem(20);
  margin-left: auto;
  margin-right: 0;
  max-width: 100%;

  @include below($md){
    padding-left: rem(30);
    padding-right: rem(30);
    max-width: 100%;
  }
}

// 94%
.transition{
  transition: 0.15s all ease-in-out;
  transform-origin: center center;
}


a,
.btn,
.icon {
  @extend .transition;
}

a {
  text-decoration: none;
  color: var(--c-primary);

  &:hover,
  &:focus {
    color: var(--c-secondary);
  }
}

.no-bullets{
  list-style: none;
  margin: 0;
  padding: 0;
}