[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-color-palette-outline:before {
  content: "\e910";
}

.icon-add-circle-outline:before {
  content: "\e911";
}

.icon-minus-circle-outline:before {
  content: "\e912";
}

.icon-headset-outline:before {
  content: "\e913";
}

.icon-heart-outline:before {
  content: "\e914";
}

.icon-planet-outline:before {
  content: "\e915";
}

.icon-medal-outline:before {
  content: "\e916";
}

.icon-pie-chart-outline:before {
  content: "\e917";
}

.icon-people-outline:before {
  content: "\e918";
}

.icon-code-slash-outline:before {
  content: "\e919";
}

.icon-rocket-outline:before {
  content: "\e91a";
}

.icon-umbrella-outline:before {
  content: "\e91b";
}

.icon-school-outline:before {
  content: "\e91c";
}

.icon-ribbon-outline:before {
  content: "\e91d";
}

.icon-shield-checkmark-outline:before {
  content: "\e91e";
}

.icon-desktop-outline:before {
  content: "\e91f";
}

.icon-fast-food-outline:before {
  content: "\e920";
}

.icon-earth-outline:before {
  content: "\e90e";
}

.icon-diamond-outline:before {
  content: "\e90f";
}

.icon-close:before {
  content: "\e90d";
}

.icon-agency:before {
  content: "\e90b";
}

.icon-consultation:before {
  content: "\e90c";
}

.icon-read-more:before {
  content: "\e902";
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-hamburger:before {
  content: "\e904";
}

.icon-instagram:before {
  content: "\e905";
}

.icon-linkedin:before {
  content: "\e906";
}

.icon-mail:before {
  content: "\e907";
}

.icon-shopware:before {
  content: "\e908";
}

.icon-twitter:before {
  content: "\e909";
}

.icon-youtube:before {
  content: "\e90a";
}