[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e92a";
}

.icon-double-arrow:before {
  content: "\e929";
}

.icon-chevron_left:before {
  content: "\e900";
}

.icon-chevron_right:before {
  content: "\e901";
}

.icon-expand_less:before {
  content: "\e902";
}

.icon-expand_more:before {
  content: "\e904";
}

.icon-arrow_left_alt:before {
  content: "\e907";
}

.icon-arrow_right_alt:before {
  content: "\e90b";
}

.icon-arrow_back:before {
  content: "\e90c";
}

.icon-arrow_circle_left:before {
  content: "\e90f";
}

.icon-arrow_circle_right:before {
  content: "\e910";
}

.icon-check_circle:before {
  content: "\e911";
}

.icon-cancel:before {
  content: "\e912";
}

.icon-expand_circle_down:before {
  content: "\e913";
}

.icon-expand_circle_up:before {
  content: "\e914";
}

.icon-plus:before {
  content: "\e915";
}

.icon-add:before {
  content: "\e916";
}

.icon-remove:before {
  content: "\e917";
}

.icon-done:before {
  content: "\e918";
}

.icon-close:before {
  content: "\e90d";
}

.icon-arrow_right:before {
  content: "\e919";
}

.icon-search:before {
  content: "\e91a";
}

.icon-call:before {
  content: "\e91b";
}

.icon-mail:before {
  content: "\e91c";
}

.icon-menu:before {
  content: "\e91d";
}

.icon-headphones:before {
  content: "\e91e";
}

.icon-handshake:before {
  content: "\e91f";
}

.icon-bookmark:before {
  content: "\e920";
}

.icon-chat:before {
  content: "\e921";
}

.icon-sell:before {
  content: "\e922";
}

.icon-link:before {
  content: "\e923";
}

.icon-help:before {
  content: "\e924";
}

.icon-visibility:before {
  content: "\e925";
}

.icon-priority:before {
  content: "\e926";
}

.icon-share:before {
  content: "\e927";
}

.icon-calendar_month:before {
  content: "\e928";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\e905";
}

.icon-linkedin:before {
  content: "\e906";
}

.icon-shopware:before {
  content: "\e908";
}

.icon-twitter:before {
  content: "\e909";
}

.icon-youtube:before {
  content: "\e90a";
}