.relative{
    position: relative;

    .sticky{
        // stick offset from top
        // top: 50%;
        top: rem(120);
        // transform: translateY(-50%);
        position: sticky;
        // top: 0;
    }
}

.fixed{
    position: fixed;
}