/*------------------*
# Variables
*------------------*/

// Breakpoints
$xs: rem(768);
$sm: rem(991);
$md: rem(1024);
$lg: rem(1180);
$xl: rem(1320);
$xxl: rem(1536);

/*
* Paths
*/
$assets-path: "/dist";
$font-path: "../fonts";

/*
 * Base fonts, colors
*/
:root {
    --c-primary: #14759C;
    --c-secondary: #060606;
    --c-primary-hover: #31A9C7;
    --c-secondary-hover: #2f2f2f;
    --c-black: #2f2f2f;
    --c-white: #ffffff;
    --c-hash: #C6C6C6;
    --c-grey: #707070;
    --c-dark-primary: #0D3C4D;
    --c-dark-grey: #393939;
    --c-light-grey: #FAF7F5;
    --font-thin: 'TTFirsNeueTrl-Thin', Arial, Helvetica, sans-serif;
    --font-light: 'TTFirsNeueTrl-Light', Arial, Helvetica, sans-serif;
    --font-regular: 'TTFirsNeueTrl-Regular', Arial, Helvetica, sans-serif;
    --font-medium: 'TTFirsNeueTrl-Medium', Arial, Helvetica, sans-serif; 
    --font-demibold:  'TTFirsNeueTrl-DemiBold', Arial, Helvetica, sans-serif;
    --font-bold:  'TTFirsNeueTrl-Bold', Arial, Helvetica, sans-serif;
}