/*------------------*
# Variables
*------------------*/

// Breakpoints
$xs: rem(480);
$sm: rem(640);
$md: rem(768);
$lg: rem(1024);
$xl: rem(1280);
$xxl: rem(1536);

/*
* Paths
*/
$mainlink-assets-path: "/dist";
$mainlink-font-path: "../fonts";

/*
* Fonts
*/

$font-thin: 'TTFirsNeueTrl-Thin', Arial, Helvetica, sans-serif;
$font-light: 'TTFirsNeueTrl-Light', Arial, Helvetica, sans-serif;
$font-regular: 'TTFirsNeueTrl-Regular', Arial, Helvetica, sans-serif; 
$font-medium: 'TTFirsNeueTrl-Medium', Arial, Helvetica, sans-serif; 
$font-bold:  'TTFirsNeueTrl-Bold', Arial, Helvetica, sans-serif;


/*
 * Base colors
*/

// Theme colours
:root {
    --c-primary: #07607E;
    --c-secondary: #060606;
    --c-primary-hover: #31A9C7;
    --c-secondary-hover: #000000;
    --c-black: #000000;
    --c-white: #ffffff;
    --c-grey: #707070;
    --c-grey-border: #C6C6C6;
    --c-light-grey: #FAF7F5;
    --swiper-navigation-size: 30px;
    --swiper-theme-color: var(--c-black);
    --swiper-navigation-color: var(--c-black);
    --swiper-pagination-color: var(--c-black);
}