/*------------------*
# Variables
*------------------*/

// Breakpoints
$desktop-lg: rem(1919); // Wide Desktop Screens (Above 1680 - Large Screens)
$desktop-md: rem(1620); // Medium Desktop Screens (Like 1480 - Macbook & Macbook Pro)
$desktop-sm: rem(1420); // Small Desktop Screens
$desktop-xs: rem(1360); // Small Desktop Screens

$tablet-lg: rem(1080); // Landscape Tablet
$tablet-md: rem(991); // Portrait Medium Tablet
$tablet-sm: rem(865); // Portrait Tablet

$mobile-lg: rem(767); // Mobile Landscale
$mobile-md: rem(576); // Mobile Medium Portrait
$mobile-sm: rem(540); // Mobile Portrait

/*
* Paths
*/
$mainlink-assets-path: "/dist";
$mainlink-font-path: "../fonts";

/*
* Fonts
*/

$font-light: 'TTFirsNeueTrl-Light', Arial, Helvetica, sans-serif;
$font-regular: 'TTFirsNeueTrl-Regular', Arial, Helvetica, sans-serif; 
$font-medium: 'TTFirsNeueTrl-Medium', Arial, Helvetica, sans-serif; 
$font-bold:  'TTFirsNeueTrl-Bold', Arial, Helvetica, sans-serif;


/*
 * Base colors
*/

// Theme colours
:root {
    --c-primary: #31A9C7;
    --c-secondary: #060606;
    --c-primary-hover: #2f8a9e;
    --c-secondary-hover: #000000;
    --c-black: #000000;
    --c-white: #ffffff;
    --c-grey: #707070;
    --c-grey-border: #C6C6C6;
    --c-light-grey: #FAF7F5;
    --swiper-navigation-size: 30px;
    --swiper-theme-color: var(--c-black);
    --swiper-navigation-color: var(--c-black);
    --swiper-pagination-color: var(--c-black);
}