header{
    &.scrolled{
        box-shadow: 1px 1px 8px rgba(0,0,0,.05);

        @include below($md){
            // box-shadow: none;
        }   

        &.move-to-out{
            transform: translateY(-100%);
        }

        &.move-to-in{
            transform: translateY(0);
        }
    }

    .menu-btn{
        color: var(--c-secondary);
    }
}