header{

    &.scrolled{
        box-shadow: 1px 1px 8px rgba(0,0,0,.05);

        @include below($md){
            box-shadow: none;
        }   
    }
    
    .brand, .brand img{
        max-width: rem(106);
        max-height: rem(48);
        display: inline-block;
    }

    .menu-btn{
        color: var(--c-secondary);
    }

    a{
        text-decoration: none;
        color: var(--c-grey);
        &:hover{
            color: var(--c-primary);
        }
    }

    [class^="icon-"], [class*=" icon-"] {
        font-size: rem(32);
    }
}