.impact {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    .count {
        font-size: rem(55);
        min-width: rem(120);

        @include below($sm) {
            font-size: rem(44);
        }
    }

    p {
        font-size: rem(20);
        max-width: 95%;

        @include below($sm) {
            font-size: rem(18);
        }
    }
}