.impact{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    .count{
        font-size: rem(55);
        font-family: var(--font-light);
        color: var(--c-primary);
        min-width: rem(120);
    }
    p{
        font-size: rem(20);
    }
}