.top-menu{
    @include below($sm){
        display: none;
    }
    ul{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-family: $font-medium;
        font-size: rem(14);
        li + li{
            margin-left: rem(60);

            @include below($sm){
                margin-left: rem(30);
            }
        }
        a{
            color: var(--c-secondary);
            &:hover{
                color: var(--c-primary);
            }
        }
    }
}