.modal{
    visibility: hidden;
    overflow-y: scroll;
    opacity: 0;

    picture{
        background-color: var(--c-light-grey);
    }
    img{
        display: none;
    }

    .title{
        .h2, .h3{
            max-width: 100%;
        }
    }
    
    &.show{
        visibility: visible;
        opacity: 1;

        img{
            display: block;
        }
    }
}