.rating {
    cursor: default;
    pointer-events: none;
    .lbl {
        max-width: rem(100);
        line-height: 1.2;
        font-size: rem(18);

        @include below($sm) {
            max-width: 100%;
            font-size: rem(14);
        }
    }

    img{
        width: auto;
        height: rem(45);

        @include below($sm) {
            height: rem(32);
        }
    }
}