.rating {
    cursor: default;
    pointer-events: none;
    .logo-wrap, .hats-slider__slide{
        min-width: rem(120);
        min-height: rem(45);
        max-height: rem(45);
        max-width: rem(120);
    }
    .lbl {
        max-width: rem(120);
        line-height: 1.2;
        font-size: rem(18);
    }

    img{
        width: rem(100);
        margin-left: rem(20);
    }
}