.rating {
    .logo-wrap{
        width: rem(120);
        height: rem(60);
    }
    .lbl {
        max-width: rem(120);
        line-height: 1.2;
        font-size: rem(18);
    }

    img{
        width: rem(100);
        margin-left: rem(20);
    }
}