section.services{
    .service{
        counter-increment: service;
        position: relative;
        & > *{
            position: relative;
            z-index: 1;
        }
        &:before{
            color: var(--c-hash);
            opacity: 50%;
            content: counter(service, decimal-leading-zero);
            font-size: rem(280);
            position: absolute;
            font-family: var(--font-thin);
            letter-spacing: -0.5px;
            top: rem(-80);
            left: rem(-50);
            z-index: 0;

            @include below($sm){
                font-size: rem(80);
                left: rem(-10);
                top: rem(-40);
            }
        }
    }
}