section.services{
    .headline{
        top: 40%;
        @include below($xs){
            top: 0;
        }
    }

    .service{

        & > *{
            position: relative;
            z-index: 2;
        }

        .counter{
            letter-spacing: -0.5px;
        }
    }
}

.background-shape{
    height: 0;
    padding-bottom: 100%;
}