section.technologies {
  border-bottom: 1px solid var(--c-grey-border);
  overflow: hidden;

  a,
  img {
    display: block;
    width: auto;
    height: auto;
    max-width: rem(200);
    max-height: rem(50);

    @include below($sm) {
      max-width: rem(100);
    }
  }

  a {
    margin-left: rem(150);

    @include below($sm) {
      margin-left: rem(30);
    }
  }
}

.marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}