.testimonials{
    .swiper-slide{
        width: 52vw;

        @include below($md){
            width: 100%;
        }

        &:first-child{
            .testimonial{
                padding-left: 0;
            }
        }
        &:last-child{
            .testimonial{
                border-right: 0;
            }
        }
    }
}

.testimonial{
    border-right: rem(2) solid var(--c-grey-border);
    padding-right: rem(120);
    margin-right: rem(120);

    @include below($md){
        padding-right: 0;
        margin-right: 0;
        border-right: 0;
    }

    .top{
        background-color: var(--c-light-grey);
        img{
            max-width: rem(50);
            max-height: rem(50);
            mix-blend-mode: multiply;
            
        }
        .service{
            color: var(--c-primary);  
            font-family: $font-demibold;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    blockquote{
        font-size: rem(25);
        line-height: rem(30);
    }

    .author-name{
        font-family: $font-demibold;
    }

    .designation{
        font-family: $font-regular;
        font-size: rem(15);
    }
}