.testimonials{
    .testimonial{
        border-right: rem(1) solid var(--c-grey-border);
        padding-right: rem(120);
        margin-right: rem(120);
        blockquote{
            margin: 0;
        }
    }

    .swiper-slide{
        width: 52vw;
        &:first-child{
            .testimonial{
                padding-left: 0;
            }
        }
        &:last-child{
            .testimonial{
                border-right: 0;
            }
        }
    }
}