.works {
  .item {
    color: var(---c-black);
    &:hover{
      box-shadow: 6px 10px 12.5px 0px rgba(0, 0, 0, 0.102);
      img{
        transform: scale(1.1);
      }
      .info{
        .h5 strong{
          color: var(--c-primary);
        }
      }
    }
  }

  .info {
    .h5 {
      font-family: $font-light;
      line-height: rem(22);

      strong {
        font-weight: $font-medium;
      }
    }
  }
}