$spaceamounts: (0, 1, 2, 3, 4, 5);
$sides: (top, bottom, left, right);
$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

.b-0 {
  border-width: 0;
}

.solid {
  border-style: solid;
}

@each $space in $spaceamounts {
  .b-#{$space} {
    border-width: rem($space);
  }
  
  @each $side in $sides {
    .b#{str-slice($side, 0, 1)}-#{$space} {
      border-#{$side}-width: rem($space);
    }
  }
  
  @each $breakpoint, $breakpoint-value in $breakpoints {
    @each $side in $sides {
      .#{$breakpoint}\:b#{str-slice($side, 0, 1)}-#{$space} {
        @include below($breakpoint-value) {
          border-#{$side}-width: rem($space);
        }
      }
    }
  }
}