@for $i from 1 through 300 {
    .fs-#{$i} {
        font-size: rem($i);
    }
}

//font size for xxl screen
@include below($xxl) {
    @for $i from 1 through 300 {
        .xxl\:fs-#{$i} {
            font-size: rem($i);
        }
    }
}

//font size for xl screen
@include below($xl) {
    @for $i from 1 through 300 {
        .xl\:fs-#{$i} {
            font-size: rem($i);
        }
    }
}

//font size for lg screen
@include below($lg) {
    @for $i from 1 through 300 {
        .lg\:fs-#{$i} {
            font-size: rem($i);
        }
    }
}

//font size for md screen
@include below($md) {
    @for $i from 1 through 300 {
        .md\:fs-#{$i} {
            font-size: rem($i);
        }
    }
}

//font size for sm screen
@include below($sm) {
    @for $i from 1 through 300 {
        .sm\:fs-#{$i} {
            font-size: rem($i);
        }
    }
}

//font size for xs screen
@include below($xs) {
    @for $i from 1 through 300 {
        .xs\:fs-#{$i} {
            font-size: rem($i);
        }
    }
}