.font-thin {
    font-family: var(--font-thin);
}

.font-light {
    font-family: var(--font-light);
}

.font-regular {
    font-family: var(--font-regular);
}

.font-medium {
    font-family: var(--font-medium);
}

.font-demibold {
    font-family: var(--font-demibold);
}

.font-bold {
    font-family: var(--font-bold);
}