@include below($xxl) {
    .xxl\:grid{
        display: grid;
    }
}

@include below($xl) {
    .xl\:grid{
        display: grid;
    }
}

@include below($lg) {
    .lg\:grid{
        display: grid;
    }
}

@include below($md) {
    .md\:grid{
        display: grid;
    }
}

@include below($sm) {
    .sm\:grid{
        display: grid;
    }
}

@include below($xs) {
    .xs\:grid{
        display: grid;
    }
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

@include below($xxl) {
    .xxl\:grid-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@include below($xl) {
    .xl\:grid-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@include below($lg) {
    .lg\:grid-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@include below($md) {
    .md\:grid-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@include below($sm) {
    .sm\:grid-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@include below($xs) {
    .xs\:grid-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@include below($xxl) {
    .xxl\:grid-5 {
        grid-template-columns: repeat(6, 1fr);
    }
}

@include below($xl) {
    .xl\:grid-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

@include below($lg) {
    .lg\:grid-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

@include below($md) {
    .md\:grid-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

@include below($sm) {
    .sm\:grid-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

@include below($xs) {
    .xs\:grid-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

@include below($xxl) {
    .xxl\:grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include below($xl) {
    .xl\:grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include below($lg) {
    .lg\:grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include below($md) {
    .md\:grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include below($sm) {
    .sm\:grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include below($xs) {
    .xs\:grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include below($xxl) {
    .xxl\:grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include below($xl) {
    .xl\:grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include below($lg) {
    .lg\:grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include below($md) {
    .md\:grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include below($sm) {
    .sm\:grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include below($xs) {
    .xs\:grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include below($xxl) {
    .xxl\:grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include below($xl) {
    .xl\:grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include below($lg) {
    .lg\:grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include below($md) {
    .md\:grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include below($sm) {
    .sm\:grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include below($xs) {
    .xs\:grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include below($xxl) {
    .xxl\:grid-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@include below($xl) {
    .xl\:grid-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@include below($lg) {
    .lg\:grid-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@include below($md) {
    .md\:grid-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@include below($sm) {
    .sm\:grid-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@include below($xs) {
    .xs\:grid-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}



//grid row-gap
@for $rowgap from 1 through 150 {
    @each $side in $sides {
      .rg-#{$rowgap} {
        row-gap: rem($rowgap);
      }
    }
  }


  //xxl screen 
  @include below($xxl) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .xxl\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }

  //xl screen
  @include below($xl) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .xl\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }

  //lg screen
  @include below($lg) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .lg\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }

  //md screen
  @include below($md) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .md\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }

  //sm screen
  @include below($sm) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .sm\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }

  //xs screen
  @include below($xs) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .xs\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }
  

  //grid column-gap
  @for $colgap from 1 through 150 {
    @each $side in $sides {
      .cg-#{$colgap} {
        column-gap: rem($colgap);
      }
    }
  } 

  //xxl screen 
  @include below($xxl) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .xxl\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

  //xl screen
  @include below($xl) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .xl\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

  //lg screen
  @include below($lg) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .lg\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

  //md screen
  @include below($md) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .md\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

  //sm screen
  @include below($sm) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .sm\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

  //xs screen
  @include below($xs) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .xs\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }



/* Grid gaps */
$gaps: (
    10,
    15,
    20,
    30,
    35,
    40,
    50,
    60,
    70,
    80,
    90,
    100,
    110,
    120,
    130,
    140,
    150
);

@each $gap in $gaps {
    .gap-#{$gap} {
        grid-gap: rem($gap);
    }
}

@each $gap in $gaps {
    .xxl\:gap-#{$gap} {
        @include below($xxl) {
            grid-gap: rem($gap);
        }
    }
}

@each $gap in $gaps {
    .xl\:gap-#{$gap} {
        @include below($xl) {
            grid-gap: rem($gap);
        }
    }
}

@each $gap in $gaps {
    .lg\:gap-#{$gap} {
        @include below($lg) {
            grid-gap: rem($gap);
        }
    }
}

@each $gap in $gaps {
    .md\:gap-#{$gap} {
        @include below($md) {
            grid-gap: rem($gap);
        }
    }
}

@each $gap in $gaps {
    .sm\:gap-#{$gap} {
        @include below($sm) {
            grid-gap: rem($gap);
        }
    }
}

@each $gap in $gaps {
    .xs\:gap-#{$gap} {
        @include below($xs) {
            grid-gap: rem($gap);
        }
    }
}