$breakpoints: (
  xxl: $xxl,
  xl: $xl,
  lg: $lg,
  md: $md,
  sm: $sm,
  xs: $xs
);

@each $size, $breakpoint in $breakpoints {
  @include below($breakpoint) {
    .#{$size}\:grid {
      display: grid;
    }
  }
}

// grid columns
$grid-columns: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6
);

@each $cols, $value in $grid-columns {
  .grid-#{$cols} {
    grid-template-columns: repeat(#{$value}, 1fr);
  }
}

//xxl screen
@include below($xxl) {
  @each $cols, $value in $grid-columns {
    .xxl\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}

//xl screen
@include below($xl) {
  @each $cols, $value in $grid-columns {
    .xl\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}

//lg screen
@include below($lg) {
  @each $cols, $value in $grid-columns {
    .lg\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}

//md screen
@include below($md) {
  @each $cols, $value in $grid-columns {
    .md\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}

//sm screen
@include below($sm) {
  @each $cols, $value in $grid-columns {
    .sm\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}
//xs screen
@include below($xs) {
  @each $cols, $value in $grid-columns {
    .xs\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}

//grid row-gap
@for $rowgap from 0 through 150 {
  .rg-#{$rowgap} {
    row-gap: rem($rowgap);
  }
}

//column-gap
@for $colgap from 0 through 150 {
  .cg-#{$colgap} {
    column-gap: rem($colgap);
  }
}

//breakpoints

$breakpoints: (
  xxl: $xxl,
  xl: $xl,
  lg: $lg,
  md: $md,
  sm: $sm,
  xs: $xs
);

@each $value, $breakpoint in $breakpoints {
  @include below($breakpoint) {
    @for $rowgap from 0 through 150 {
      .#{$value}\:rg-#{$rowgap} {
        row-gap: rem($rowgap);
      }
    }
  }
}

@each $value, $breakpoint in $breakpoints {
  @include below($breakpoint) {
    @for $colgap from 0 through 150 {
      .#{$value}\:cg-#{$colgap} {
        column-gap: rem($colgap);
      }
    }
  }
}

//grid gap

@for $gaps from 0 through 150 {
  .gap-#{$gaps} {
    gap: rem($gaps);
  }
}

@each $value, $breakpoint in $breakpoints {
  @include below($breakpoint) {
    @for $gaps from 0 through 150 {
      .#{$value}\:gap-#{$gaps} {
        gap: rem($gaps);
      }
    }
  }
}
