$breakpoints: (
  xxl: $xxl,
  xl: $xl,
  lg: $lg,
  md: $md,
  sm: $sm,
  xs: $xs
);

@each $size, $breakpoint in $breakpoints {
  @include below($breakpoint) {
    .#{$size}\:grid {
      display: grid;
    }
  }
}

// grid columns
$grid-columns: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6
);

@each $cols, $value in $grid-columns {
  .grid-#{$cols} {
    grid-template-columns: repeat(#{$value}, 1fr);
  }
}

//xxl screen 
@include below($xxl) {
  @each $cols, $value in $grid-columns {
    .xxl\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}

//xl screen
@include below($xl) {
  @each $cols, $value in $grid-columns {
    .xl\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}

//lg screen
@include below($lg) {
  @each $cols, $value in $grid-columns {
    .lg\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}

//md screen
@include below($md) {
  @each $cols, $value in $grid-columns {
    .md\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}

//sm screen
@include below($sm) {
  @each $cols, $value in $grid-columns {
    .sm\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}
//xs screen
@include below($xs) {
  @each $cols, $value in $grid-columns {
    .xs\:grid-#{$cols} {
      grid-template-columns: repeat(#{$value}, 1fr);
    }
  }
}



//grid row-gap
@for $rowgap from 1 through 150 {
    @each $side in $sides {
      .rg-#{$rowgap} {
        row-gap: rem($rowgap);
      }
    }
  }


  //xxl screen 
  @include below($xxl) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .xxl\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }

  //xl screen
  @include below($xl) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .xl\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }

  //lg screen
  @include below($lg) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .lg\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }

  //md screen
  @include below($md) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .md\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }

  //sm screen
  @include below($sm) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .sm\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }

  //xs screen
  @include below($xs) {
    @for $rowgap from 1 through 150 {
      @each $side in $sides {
        .xs\:rg-#{$rowgap} {
          row-gap: rem($rowgap);
        }
      }
    }
  }
  

  //grid column-gap
  @for $colgap from 1 through 150 {
    @each $side in $sides {
      .cg-#{$colgap} {
        column-gap: rem($colgap);
      }
    }
  } 

  //xxl screen 
  @include below($xxl) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .xxl\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

  //xl screen
  @include below($xl) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .xl\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

  //lg screen
  @include below($lg) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .lg\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

  //md screen
  @include below($md) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .md\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

  //sm screen
  @include below($sm) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .sm\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

  //xs screen
  @include below($xs) {
    @for $colgap from 1 through 150 {
      @each $side in $sides {
        .xs\:cg-#{$colgap} {
          column-gap: rem($colgap);
        }
      }
    }
  }

//grid gap

  @for $gaps from 1 through 150 {
    .gap-#{$gaps} {
        gap: rem($gaps);
    }
}

//xxl screen 
@include below($xxl) {
    @for $gaps from 1 through 150 {
        .xxl\:gap-#{$gaps} {
            gap: rem($gaps);
        }
    }
}

//xl screen
@include below($xl) {
    @for $gaps from 1 through 150 {
        .xl\:gap-#{$gaps} {
            gap: rem($gaps);
        }
    }
}

//lg screen
@include below($lg) {
    @for $gaps from 1 through 150 {
        .lg\:gap-#{$gaps} {
            gap: rem($gaps);
        }
    }
}

//md screen
@include below($md) {
    @for $gaps from 1 through 150 {
        .md\:gap-#{$gaps} {
            gap: rem($gaps);
        }
    }
}

//sm screen
@include below($sm) {
    @for $gaps from 1 through 150 {
        .sm\:gap-#{$gaps} {
            gap: rem($gaps);
        }
    }
}

//xs screen
@include below($xs) {
    @for $gaps from 1 through 150 {
        .xs\:gap-#{$gaps} {
            gap: rem($gaps);
        }
    }
}
