.h-auto{
    height: auto;
}
@for $i from 0 through 100 {
    .h-#{$i} {
        height: $i * 1%;
    }
}
$breakpoints: (
    xxl: $xxl,
    xl: $xl,
    lg: $lg,
    md: $md,
    sm: $sm,
    xs: $xs
);

@each $breakpoint, $size in $breakpoints {
    @include below($size) {
        @for $i from 1 through 100 {
            .#{$breakpoint}\:h-#{$i} {
                height: $i * 1%;
            }
        }
    }
}

