
$lineheights: (
    1,
    2,
    3
);

@each $lineheight in $lineheights {
    .leading-#{$lineheight} {
        line-height: $lineheight;
    }
}

//line height for xxl screen
@include below($xxl) {
    @each $lineheight in $lineheights {
        .xxl\:leading-#{$lineheight} {
            line-height: $lineheight;
        }
    }
  }

    //line height for xl screen
    @include below($xl) {
        @each $lineheight in $lineheights {
            .xl\:leading-#{$lineheight} {
                line-height: $lineheight;
            }
        }
    }       
    //line height for lg screen 
    @include below($lg) {
        @each $lineheight in $lineheights {
            .lg\:leading-#{$lineheight} {   
                line-height: $lineheight;
            }
        }
    }   

    //line height for md screen
    @include below($md) {
        @each $lineheight in $lineheights {
            .md\:leading-#{$lineheight} {
                line-height: $lineheight;
            }
        }
    }

    //line height for sm screen
    @include below($sm) {
        @each $lineheight in $lineheights {
            .sm\:leading-#{$lineheight} {
                line-height: $lineheight;
            }
        }
    }

    //line height for xs screen
    @include below($xs) {
        @each $lineheight in $lineheights {
            .xs\:leading-#{$lineheight} {
                line-height: $lineheight;
            }
        }
    }
