.mh-auto{
    max-height: auto;
}

.mh-0{
    max-height: 0;
}

.mh-10 {
    max-height: 10%;
}

.mh-15 {
    max-height: 15%;
}

.mh-20 {
    max-height: 20%;
}

.mh-25 {
    max-height: 25%;
}

.mh-30 {
    max-height: 30%;
}

.mh-33 {
    max-height: 33.33%;
}

.mh-40 {
    max-height: 40%;
}

.mh-45 {
    max-height: 45%;
}

.mh-50 {
    max-height: 50%;
}

.mh-55 {
    max-height: 55%;
}

.mh-60 {
    max-height: 60%;    
}

.mh-70 {
    max-height: 70%;
}

.mh-75 {
    max-height: 75%;
}

.mh-80 {
    max-height: 80%;
}

.mh-90 {
    max-height: 90%;
}

.mh-100 {
    max-height: 100%;
}

@include below($xxl) {
    .xxl\:mh-10{
        max-height: 10%;
    }
}

@include below($xl) {
    .xl\:mh-10{
        max-height: 10%;
    }
}

@include below($lg) {
    .lg\:mh-10{
        max-height: 10%;
    }
}

@include below($md) {
    .md\:mh-10{
        max-height: 10%;
    }
}

@include below($sm) {
    .sm\:mh-10{
        max-height: 10%;
    }
}

@include below($xs) {
    .xs\:mh-10{
        max-height: 10%;
    }
}

@include below($xxl) {
    .xxl\:mh-15{
        max-height: 15%;
    }
}

@include below($xl) {
    .xl\:mh-15{
        max-height: 15%;
    }
}

@include below($lg) {
    .lg\:mh-15{
        max-height: 15%;
    }
}

@include below($md) {
    .md\:mh-15{
        max-height: 15%;
    }
}

@include below($sm) {
    .sm\:mh-15{
        max-height: 15%;
    }
}

@include below($xs) {
    .xs\:mh-15{
        max-height: 15%;
    }
}

@include below($xxl) {
    .xxl\:mh-20{
        max-height: 20%;
    }
}

@include below($xl) {
    .xl\:mh-20{
        max-height: 20%;
    }
}

@include below($lg) {
    .lg\:mh-20{
        max-height: 20%;
    }
}

@include below($md) {
    .md\:mh-20{
        max-height: 20%;
    }
}

@include below($sm) {
    .sm\:mh-20{
        max-height: 20%;
    }
}

@include below($xs) {
    .xs\:mh-20{
        max-height: 20%;
    }
}

@include below($xxl) {
    .xxl\:mh-25{
        max-height: 25%;
    }
}

@include below($xl) {
    .xl\:mh-25{
        max-height: 25%;
    }
}

@include below($lg) {
    .lg\:mh-25{
        max-height: 25%;
    }
}

@include below($md) {
    .md\:mh-25{
        max-height: 25%;
    }
}

@include below($sm) {
    .sm\:mh-25{
        max-height: 25%;
    }
}

@include below($xs) {
    .xs\:mh-25{
        max-height: 25%;
    }
}

@include below($xxl) {
    .xxl\:mh-30{
        max-height: 30%;
    }
}

@include below($xl) {
    .xl\:mh-30{
        max-height: 30%;
    }
}

@include below($lg) {
    .lg\:mh-30{
        max-height: 30%;
    }
}

@include below($md) {
    .md\:mh-30{
        max-height: 30%;
    }
}

@include below($sm) {
    .sm\:mh-30{
        max-height: 30%;
    }
}

@include below($xs) {
    .xs\:mh-30{
        max-height: 30%;
    }
}

@include below($xxl) {
    .xxl\:mh-33{
        max-height: 33.33%;
    }
}

@include below($xl) {
    .xl\:mh-33{
        max-height: 33.33%;
    }
}

@include below($lg) {
    .lg\:mh-33{
        max-height: 33.33%;
    }
}

@include below($md) {
    .md\:mh-33{
        max-height: 33.33%;
    }
}

@include below($sm) {
    .sm\:mh-33{
        max-height: 33.33%;
    }
}

@include below($xs) {
    .xs\:mh-33{
        max-height: 33.33%;
    }
}

@include below($xxl) {
    .xxl\:mh-40{
        max-height: 40%;
    }
}

@include below($xl) {
    .xl\:mh-40{
        max-height: 40%;
    }
}

@include below($lg) {
    .lg\:mh-40{
        max-height: 40%;
    }
}

@include below($md) {
    .md\:mh-40{
        max-height: 40%;
    }
}

@include below($sm) {
    .sm\:mh-40{
        max-height: 40%;
    }
}

@include below($xs) {
    .xs\:mh-40{
        max-height: 40%;
    }
}

@include below($xxl) {
    .xxl\:mh-45{
        max-height: 45%;
    }
}

@include below($xl) {
    .xl\:mh-45{
        max-height: 45%;
    }
}

@include below($lg) {
    .lg\:mh-45{
        max-height: 45%;
    }
}

@include below($md) {
    .md\:mh-45{
        max-height: 45%;
    }
}

@include below($sm) {
    .sm\:mh-45{
        max-height: 45%;
    }
}

@include below($xs) {
    .xs\:mh-45{
        max-height: 45%;
    }
}

@include below($xxl) {
    .xxl\:mh-50{
        max-height: 50%;
    }
}

@include below($xl) {
    .xl\:mh-50{
        max-height: 50%;
    }
}

@include below($lg) {
    .lg\:mh-50{
        max-height: 50%;
    }
}

@include below($md) {
    .md\:mh-50{
        max-height: 50%;
    }
}

@include below($sm) {
    .sm\:mh-50{
        max-height: 50%;
    }
}

@include below($xs) {
    .xs\:mh-50{
        max-height: 50%;
    }
}

@include below($xxl) {
    .xxl\:mh-55{
        max-height: 55%;
    }
}

@include below($xl) {
    .xl\:mh-55{
        max-height: 55%;
    }
}

@include below($lg) {
    .lg\:mh-55{
        max-height: 55%;
    }
}

@include below($md) {
    .md\:mh-55{
        max-height: 55%;
    }
}

@include below($sm) {
    .sm\:mh-55{
        max-height: 55%;
    }
}

@include below($xs) {
    .xs\:mh-55{
        max-height: 55%;
    }
}

@include below($xxl) {
    .xxl\:mh-60{
        max-height: 60%;
    }
}

@include below($xl) {
    .xl\:mh-60{
        max-height: 60%;
    }
}

@include below($lg) {
    .lg\:mh-60{
        max-height: 60%;
    }
}

@include below($md) {
    .md\:mh-60{
        max-height: 60%;
    }
}

@include below($sm) {
    .sm\:mh-60{
        max-height: 60%;
    }
}

@include below($xs) {
    .xs\:mh-60{
        max-height: 60%;
    }
}

@include below($xxl) {
    .xxl\:mh-70{
        max-height: 70%;
    }
}

@include below($xl) {
    .xl\:mh-70{
        max-height: 70%;
    }
}

@include below($lg) {
    .lg\:mh-70{
        max-height: 70%;
    }
}

@include below($md) {
    .md\:mh-70{
        max-height: 70%;
    }
}

@include below($sm) {
    .sm\:mh-70{
        max-height: 70%;
    }
}

@include below($xs) {
    .xs\:mh-70{
        max-height: 70%;
    }
}

@include below($xxl) {
    .xxl\:mh-75{
        max-height: 75%;
    }
}

@include below($xl) {
    .xl\:mh-75{
        max-height: 75%;
    }
}   

@include below($lg) {
    .lg\:mh-75{
        max-height: 75%;
    }
}

@include below($md) {
    .md\:mh-75{
        max-height: 75%;
    }
}

@include below($sm) {
    .sm\:mh-75{
        max-height: 75%;
    }
}

@include below($xs) {
    .xs\:mh-75{
        max-height: 75%;
    }
}

@include below($xxl) {
    .xxl\:mh-100{
        max-height: 100%;
    }
}

@include below($xl) {
    .xl\:mh-100{
        max-height: 100%;
    }
}

@include below($lg) {
    .lg\:mh-100{
        max-height: 100%;
    }
}

@include below($md) {
    .md\:mh-100{
        max-height: 100%;
    }
}

@include below($sm) {
    .sm\:mh-100{
        max-height: 100%;
    }
}

@include below($xs) {
    .xs\:mh-100{
        max-height: 100%;
    }
}