.max-h-auto {
    max-height: auto;
}

@for $i from 0 through 100 {
    .max-h-#{$i} {
        max-height: $i * 1%;
    }
}

@for $i from 0 through 300 {
    .max-h-px-#{$i} {
        max-height: rem($i);
    }
}

$breakpoints: (
    xxl: $xxl,
    xl: $xl,
    lg: $lg,
    md: $md,
    sm: $sm,
    xs: $xs
);

@each $breakpoint, $size in $breakpoints {
    @include below($size) {
        @for $i from 1 through 100 {
            .#{$breakpoint}\:max-h-#{$i} {
                max-height: $i * 1%;
            }
        }
        .#{$breakpoint}\:max-h-auto {
            max-height: auto;
        }
    }
}

@each $breakpoint, $size in $breakpoints {
    @include below($size) {
        @for $i from 1 through 300 {
            .#{$breakpoint}\:max-h-px-#{$i} {
                max-height: rem($i);
            }
        }
    }
}
