.min-h-auto {
    min-height: auto;
}

@for $i from 0 through 300 {
    .min-h-#{$i} {
        min-height: $i * 1%;
    }
}

@for $i from 0 through 300 {
    .min-h-px-#{$i} {
        min-height: rem($i);
    }
}

$breakpoints: (
    xxl: $xxl,
    xl: $xl,
    lg: $lg,
    md: $md,
    sm: $sm,
    xs: $xs
);

@each $breakpoint, $size in $breakpoints {
    @include below($size) {
        @for $i from 1 through 300 {
            .#{$breakpoint}\:min-h-#{$i} {
                min-height: $i * 1%;
            }
        }
    }
}

@each $breakpoint, $size in $breakpoints {
    @include below($size) {
        @for $i from 1 through 300 {
            .#{$breakpoint}\:min-h-px-#{$i} {
                min-height: rem($i);
            }
        }
    }
}
