.fixed{
    position: fixed;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.sticky{
    position: sticky;
}

.inset-0{
    inset: 0;
}

.top-0{
    top: 0;
}

.top-auto{
    top: auto;
}

.bottom-0{
    bottom: 0;
}

.bottom-auto{
    bottom: auto;
}

.left-0{
    left: 0;
}

.left-auto{
    left: auto;
}

.right-0{
    right: 0;
}

.right-auto{
    right: auto;
}

.xxl\:top-0 {
    @include below($xxl){
        top: 0;
    }
}

.xl\:top-0 {
    @include below($xl){
        top: 0;
    }
}

.lg\:top-0 {
    @include below($lg){
        top: 0;
    }
}

.md\:top-0 {
    @include below($md){
        top: 0;
    }
}

.sm\:top-0 {
    @include below($sm){
        top: 0;
    }
}

.xs\:top-0 {
    @include below($xs){
        top: 0;
    }
}


// bottom
.xxl\:bottom-0 {
    @include below($xxl){
        bottom: 0;
    }
}

.xl\:bottom-0 {
    @include below($xl){
        bottom: 0;
    }
}

.lg\:bottom-0 {
    @include below($lg){
        bottom: 0;
    }
}

.md\:bottom-0 {
    @include below($md){
        bottom: 0;
    }
}

.sm\:bottom-0 {
    @include below($sm){
        bottom: 0;
    }
}

.xs\:bottom-0 {
    @include below($xs){
        bottom: 0;
    }
}

// left
.xxl\:left-0 {
    @include below($xxl){
        left: 0;
    }
}

.xl\:left-0 {
    @include below($xl){
        left: 0;
    }
}

.lg\:left-0 {
    @include below($lg){
        left: 0;
    }
}

.md\:left-0 {
    @include below($md){
        left: 0;
    }
}

.sm\:left-0 {
    @include below($sm){
        left: 0;
    }
}

.xs\:left-0 {
    @include below($xs){
        left: 0;
    }
}

// right
.xxl\:right-0 {
    @include below($xxl){
        right: 0;
    }
}

.xl\:right-0 {
    @include below($xl){
        right: 0;
    }
}

.lg\:right-0 {
    @include below($lg){
        right: 0;
    }
}

.md\:right-0 {
    @include below($md){
        right: 0;
    }
}

.sm\:right-0 {
    @include below($sm){
        right: 0;
    }
}

.xs\:right-0 {
    @include below($xs){
        right: 0;
    }
}

// relative
.xxl\:relative {
    @include below($xxl){
        position: relative;
    }
}

.xl\:relative {
    @include below($xl){
        position: relative;
    }
}

.lg\:relative {
    @include below($lg){
        position: relative;
    }
}

.md\:relative {
    @include below($md){
        position: relative;
    }
}

.sm\:relative {
    @include below($sm){
        position: relative;
    }
}

.xs\:relative {
    @include below($xs){
        position: relative;
    }
}




$spaceamounts: (
    0,
    10,
    15,
    20,
    30,
    40,
    50,
    60,
    70,
    80,
    90,
    100,
    110,
    120,
    130,
    140,
    150,
    180,
    200,
    250,
    300
);

// Adjust this to include the pixel amounts you need.
$sides: (
    top,
    bottom,
    left,
    right
);

// Leave this variable alone
@each $space in $spaceamounts {
    @each $side in $sides {
        .#{$side}-#{$space} {
            #{$side}: rem($space);
        }
    }
}


// right
.xxl\:right-0 {
    @include below($xxl){
        right: 0;
    }
}

.xl\:right-0 {
    @include below($xl){
        right: 0;
    }
}

.lg\:right-0 {
    @include below($lg){
        right: 0;
    }
}

.md\:right-0 {
    @include below($md){
        right: 0;
    }
}

.sm\:right-0 {
    @include below($sm){
        right: 0;
    }
}

.xs\:right-0 {
    @include below($xs){
        right: 0;
    }
}


// left
.xxl\:left-0 {
    @include below($xxl){
        left: 0;
    }
}

.xl\:left-0 {
    @include below($xl){
        left: 0;
    }
}

.lg\:left-0 {
    @include below($lg){
        left: 0;
    }
}

.md\:left-0 {
    @include below($md){
        left: 0;
    }
}

.sm\:left-0 {
    @include below($sm){
        left: 0;
    }
}

.xs\:left-0 {
    @include below($xs){
        left: 0;
    }
}

// top
.xxl\:top-0 {
    @include below($xxl){
        top: 0;
    }
}

.xl\:top-0 {
    @include below($xl){
        top: 0;
    }
}

.lg\:top-0 {
    @include below($lg){
        top: 0;
    }
}

.md\:top-0 {
    @include below($md){
        top: 0;
    }
}

.sm\:top-0 {
    @include below($sm){
        top: 0;
    }
}

.xs\:top-0 {
    @include below($xs){
        top: 0;
    }
}

// bottom
.xxl\:bottom-0 {
    @include below($xxl){
        bottom: 0;
    }
}

.xl\:bottom-0 {
    @include below($xl){
        bottom: 0;
    }
}

.lg\:bottom-0 {
    @include below($lg){
        bottom: 0;
    }
}

.md\:bottom-0 {
    @include below($md){
        bottom: 0;
    }
}

.sm\:bottom-0 {
    @include below($sm){
        bottom: 0;
    }
}

.xs\:bottom-0 {
    @include below($xs){
        bottom: 0;
    }
}

@each $space in $spaceamounts {
    @each $side in $sides {
        .xxl\:#{$side}-#{$space} {
            @include below($xxl){
                #{$side}: rem($space);
            }
        }
    }
}

@each $space in $spaceamounts {
    @each $side in $sides {
        .xl\:#{$side}-#{$space} {
            @include below($xl){
                #{$side}: rem($space);
            }
        }
    }
}

@each $space in $spaceamounts {
    @each $side in $sides {
        .lg\:#{$side}-#{$space} {
            @include below($lg){
                #{$side}: rem($space);
            }
        }
    }
}

@each $space in $spaceamounts {
    @each $side in $sides {
        .md\:#{$side}-#{$space} {
            @include below($md){
                #{$side}: rem($space);
            }
        }
    }
}

@each $space in $spaceamounts {
    @each $side in $sides {
        .sm\:#{$side}-#{$space} {
            @include below($sm){
                #{$side}: rem($space);
            }
        }
    }
}

@each $space in $spaceamounts {
    @each $side in $sides {
        .xs\:#{$side}-#{$space} {
            @include below($xs){
                #{$side}: rem($space);
            }
        }
    }
}


// z-index
$spaceamounts: (
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
);

@each $space in $spaceamounts {
    .z-#{$space}{
        z-index: #{$space};
    }
}