.inset-0 {
    inset: 0;
}

//positions
$positions: (
    fixed: fixed,
    absolute: absolute,
    relative: relative,
    sticky: sticky
);

@each $class, $position in $positions {
    .#{$class} {
        position: $position;
    }
}

//auto
$sets: top, right, bottom, left;

@each $set in $sets {
    .#{$set}-auto {
        #{$set}: auto;
    }
}

//breakpoints
$breakpoints: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
    xxl: $xxl
);

//fixed
@mixin generate-fixed($breakpoint) {
    @include below(map-get($breakpoints, $breakpoint)) {
        position: fixed;
    }
}

@each $breakpoint, $size in $breakpoints {
    .#{$breakpoint}\:fixed {
        @include generate-fixed($breakpoint);
    }
}

//relative
@mixin generate-relative($breakpoint) {
    @include below(map-get($breakpoints, $breakpoint)) {
        position: relative;
    }
}

@each $breakpoint, $size in $breakpoints {
    .#{$breakpoint}\:relative {
        @include generate-relative($breakpoint);
    }
}

//absolute
@mixin generate-absolute($breakpoint) {
    @include below(map-get($breakpoints, $breakpoint)) {
        position: absolute;
    }
}

@each $breakpoint, $size in $breakpoints {
    .#{$breakpoint}\:absolute {
        @include generate-absolute($breakpoint);
    }
}

$sides: top, right, bottom, left; // Define the sides

@for $space from 0 through 300 {
    @each $side in $sides {
        .#{$side}-#{$space} {
            #{$side}: rem($space);
        }
        .-#{$side}-#{$space} {
            #{$side}: rem(-$space);
        }
    }
}
//positions for xl screen

@include below($xxl) {
    @for $space from 0 through 300 {
        @each $side in $sides {
            .xxl\:#{$side}-#{$space} {
                #{$side}: rem($space);
            }
            .xxl\:-#{$side}-#{$space} {
                #{$side}: rem(-$space);
            }
        }
    }
}

//positions for xl screen
@include below($xl) {
    @for $space from 0 through 300 {
        @each $side in $sides {
            .xl\:#{$side}-#{$space} {
                #{$side}: rem($space);
            }
            .xl\:-#{$side}-#{$space} {
                #{$side}: rem(-$space);
            }
        }
    }
}

//positions for lg screen
@include below($lg) {
    @for $space from 0 through 300 {
        @each $side in $sides {
            .lg\:#{$side}-#{$space} {
                #{$side}: rem($space);
            }
            .lg\:-#{$side}-#{$space} {
                #{$side}: rem(-$space);
            }
        }
    }
}

//positions for md screen
@include below($md) {
    @for $space from 0 through 300 {
        @each $side in $sides {
            .md\:#{$side}-#{$space} {
                #{$side}: rem($space);
            }
            .md\:-#{$side}-#{$space} {
                #{$side}: rem(-$space);
            }
        }
    }
}

//positions for sm screen
@include below($sm) {
    @for $space from 0 through 300 {
        @each $side in $sides {
            .sm\:#{$side}-#{$space} {
                #{$side}: rem($space);
            }
            .sm\:-#{$side}-#{$space} {
                #{$side}: rem(-$space);
            }
        }
    }
}

//positions for xs screen
@include below($xs) {
    @for $space from 0 through 300 {
        @each $side in $sides {
            .xs\:#{$side}-#{$space} {
                #{$side}: rem($space);
            }
            .xs\:-#{$side}-#{$space} {
                #{$side}: rem(-$space);
            }
        }
    }
}

// z-index

@for $zindex from 0 through 50 {
    .z-#{$zindex} {
        z-index: #{$zindex};
    }
}

// z-index for xxl screen
@include below($xxl) {
    @for $zindex from 0 through 50 {
        .xxl\:z-#{$zindex} {
            z-index: #{$zindex};
        }
    }
}
// z-index for xl screen
@include below($xl) {
    @for $zindex from 0 through 50 {
        .xl\:z-#{$zindex} {
            z-index: #{$zindex};
        }
    }
}
// z-index for lg screen
@include below($lg) {
    @for $zindex from 0 through 50 {
        .lg\:z-#{$zindex} {
            z-index: #{$zindex};
        }
    }
}
// z-index for md screen
@include below($md) {
    @for $zindex from 0 through 50 {
        .md\:z-#{$zindex} {
            z-index: #{$zindex};
        }
    }
}
// z-index for sm screen
@include below($sm) {
    @for $zindex from 0 through 50 {
        .sm\:z-#{$zindex} {
            z-index: #{$zindex};
        }
    }
}
// z-index for xs screen
@include below($xs) {
    @for $zindex from 0 through 50 {
        .xs\:z-#{$zindex} {
            z-index: #{$zindex};
        }
    }
}   