.contact-wrap{
    .shadow-name{
        background: rgb(0,0,0);
        background:linear-gradient(0deg, rgb(0 0 0 / 80%) 0%, rgba(255, 255, 255, 0) 100%);
    }
    display: none;
    visibility: hidden;
    opacity: 0;
    &.show{
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

.switch-form-actions{
    button{
        cursor: pointer;
    }
}