.btn{
    outline: none;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    min-width: 160px;
    min-height: 48px;
    padding: 10px 40px;
    font-family: $font-demibold;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &-primary{
        border-color: var(--c-primary);
        background: var(--c-primary);
        color: var(--c-white);

        &-link{

        }
        &:hover{
            background: var(--c-primary-hover);
            border-color: var(--c-primary-hover);
            color: var(--c-white);
        }
    }
    &-primary-outline{
        border-color: var(--c-primary);
        background: transparent;
        color: var(--c-primary);
        &:hover{
            background: var(--c-primary);
            border-color: var(--c-primary);
            color: var(--c-white);
        }
    }
    &-secondary{
        background: var(--c-black);
        border-color: var(--c-black);
        color: var(--c-white);
        &:hover{
            background: var(--c-primary);
            border-color: var(--c-primary);
            color: var(--c-white);
        }
    }
    &-secondary-outline{
        border-color: var(--c-secondary);
        background: transparent;
        color: var(--c-secondary);
        &:hover{
            background: var(--c-black);
            border-color: var(--c-black);
            color: var(--c-white);
        }
    }

    &:hover{
        box-shadow: 6px 10px 12.5px 0px rgba(0, 0, 0, 0.102);
    }
}

.link{
    text-transform: uppercase;
    font-family: $font-medium;
    font-size: 14px;
    letter-spacing: 1px;

    .icomoon{
        margin-left: rem(5);
        font-size: 80%;    
    }

    &-primary{
        color: var(--c-primary);
        &:hover{
            color: var(--c-secondary);
        }
    }       
    &-secondary{
        color: var(--c-secondary);
        &:hover{
            color: var(--c-primary);
        }
    }       
}

.btn-group{
    &.center{
        text-align: center;
    }
}