.dropdown{
    .dropdown-content{
        visibility: hidden;
        opacity: 0;
    }
    &:hover{
        & > .dropdown-content{
            visibility: visible;
            opacity: 1;
        }
    }
}