.form-control{
    display: block;
    width: 100%;
    padding: rem(10) rem(12);
    font-family: var(--font-regular);
    font-size: rem(16);
    &:focus{
        outline: none;
    }
}

textarea{
    resize: vertical;
    min-height: rem(100);
}

.form-group{
    width: 100%;
}

select{
    color: var(--c-secondary);
}

.form-control{
    &.lined{
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid var(--c-hash);
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
}

input::placeholder, textarea::placeholder, select::placeholder {
    color: var(--c-grey);
}

.bg-dark-grey, .bg-dark-primary{
    .form-control{
        color: var(--c-white);
    }
    input::placeholder, textarea::placeholder, select::placeholder {
        color: var(--c-white);
    }
}

textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill{
    -webkit-text-fill-color: var(--c-dark-primary) !important;
    -webkit-box-shadow: 0 0 0 30px var(--c-white) inset !important;
}

.bg-dark-primary{
    textarea:-webkit-autofill,
    select:-webkit-autofill,
    input:-webkit-autofill{
        -webkit-text-fill-color: var(--c-white) !important;
        -webkit-box-shadow: 0 0 0 30px var(--c-dark-primary) inset !important;
    }
}