.form-control{
    display: block;
    width: 100%;
    padding: rem(10) rem(12);
    font-family: var(--font-regular);
    font-size: rem(16);
    &:focus{
        outline: none;
    }
}

textarea{
    resize: vertical;
    min-height: rem(100);
}

.form-group{
    width: 100%;
}

.form-control{
    &.lined{
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid var(--c-hash);
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
}

.bg-dark-grey, .bg-dark-primary{
    .form-control{
        color: var(--c-white);
    }
}

::placeholder{
    opacity: 1;
    color: var(--c-white);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 0px 0px transparent;
}