.progress{
    &-container{
        top: 0;
        z-index: 3;
        max-width: calc(100% - 8%);
        right: 0;
        @include below($sm) {
            max-width: 100%;
        }
    }
    &-bar{
        height: rem(8);
        @include below($sm) {
            height: rem(5);
        }
    }
}