.progress{
    &-container{
        top: 0;
        z-index: 1;
        max-width: calc(100% - 8%);
        right: 0;
    }
    &-bar{
        height: rem(8);
        @include below($sm) {
            height: rem(5);
        }
    }
}