.rewiew-wrap{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: rem(-18);
        height: 0;
        border-style: solid;
        border-width: rem(20) rem(20) 0 0;
        border-color: var(--c-light-blue) transparent transparent transparent;
        transform: rotate(90deg);

        @include below($md){
            left: 0;
            top: rem(-18);
            transform: rotate(-90deg);
        }
    }
}