.rewiew-wrap{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: rem(-18);
        height: 0;
        border-style: solid;
        border-width: rem(20) rem(20) 0 0;
        border-color: var(--c-light-blue) transparent transparent transparent;
        transform: rotate(90deg);

        @include below($md){
            left: 0;
            top: rem(-18);
            transform: rotate(-90deg);
        }
    }
}
.review-clients {
    .col {
        inline-size: none;
        &:nth-child(4n) {
            .card .review-box {
                border-right-width: 0;
                padding-right: 0;
                @include below($lg) {
                    border-right-width: 1px;
                }
            }
        }
        &:nth-child(3n) {
            .card .review-box {
                @include below($lg) {
                    border-right-width: 0;
                    padding-right: 0;
                }
                @include below($md) {
                    border-right-width: 1px;
                }
            }
        }
        &:nth-child(2n) {
            .card .review-box {
                @include below($md) {
                    border-right-width: 1;
                }
            }
        }
        &:nth-child(1n) {
            .card .review-box {
                @include below($xs) {
                    border-right-width: 1;
                }
            }
        }
    }
}