.slider{
    &-prev, &-next{
        cursor: pointer;
        border: rem(1) solid var(--c-black);
        width: rem(40);
        height: rem(40);
        border-radius: 50%;
        font-size: rem(14);
        color: var(--c-black);
        &:hover, &:focus {
            background-color: var(--c-black);
            border-color: var(--c-black);
            color: var(--c-white);
        }
    }
}   

.dots{
    text-align: center;
    margin: rem(30) 0;
    .dot{
        cursor: pointer;
        height: rem(10);
        width: rem(10);
        margin: 0 rem(5);
        background-color: transparent;
        border: rem(1) solid var(--c-hash);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        &.active {
            background-color: var(--c-hash);
            border-radius: rem(5);
            width: rem(40);
        }

    }
}