.title{
    .headline{
      font-size: rem(14);
      text-transform: uppercase;
      & + h2{
        margin-top: rem(10);
        margin-bottom: rem(30);
      }
    }
    h2, h3{
        max-width: 80%;
        @include below($md){
            max-width: 100%;
        }
    }
    p{
        max-width: 75%;
        font-size: rem(17);

        @include below($md){
            max-width: 100%;
        }
    }
    @include below($sm){
        h2{
            font-size: rem(30);
        }
    }
}

.content{
    p + .btn{
        margin-top: rem(20);
    }
}