<nav class="pagination w-100 mt-40 flex justify-center">
  <ul class="mx-auto no-bullets flex fs-16 align-center">
    <li class="px-10"> <span aria-current="page" class="page-link no-decoration current">1</span> </li>
    <li class="px-10"> <a class="page-link no-decoration" href="#">2</a> </li>
    <li class="px-10"> <a class="page-link no-decoration" href="#">3</a> </li>
    <li class="px-10"> <span class="page-link no-decoration dots">…</span> </li>
    <li class="px-10"> <a class="page-link no-decoration" href="#1">21</a> </li>
    <li class="px-10"> <a class="next page-link slider-prev flex align-center justify-center transition no-decoration"
        href="#"><i class="icomoon icon-chevron_right"></i></a> </li>
  </ul>
</nav>
