    <nav class="pagination w-100 flex justify-center">
        <ul class="mx-auto no-bullets flex fs-16 align-center">
            <li class="px-10"><a href="#" class="no-decoration">1</a></li>
            <li class="px-10"><a href="#" class="no-decoration">2</a></li>
            <li class="px-10"><a href="#" class="no-decoration">3</a></li>
            <li class="px-10"><a href="#" class="no-decoration">4</a></li>
            <li class="px-10"><a href="#" class="no-decoration">...</a></li>
            <li class="px-10"><a href="#" class="no-decoration flex justify-center align-center" aria-label="Next button">  <i class="icomoon icon-arrow_circle_right fs-20"></i></a></li>
        </ul>
    </nav>
