$delay-step: 0.12s; // Define the step for delay
$transform-duration: 0.6s;
$opacity-duration: 0.5s;
$elements-count: 10;
$traslate-y: 10px;
$transition-timing-function: ease-in-out;

// Define the mixin to generate transition delay for nth child
@mixin transition-delay($num) {
    transition-delay: $num * $delay-step;
}

section{
    *:not(a, .btn, svg, svg .hover-wrap *, .font-button, .link, button, polygon, .service, .hats-slider__slide, .technologies *, .container, picture, img, .container + *, [class^="opacity-"], [class*=" opacity-"], .transition, .acc-content), .bg-shape {
        opacity: 0;
        transition: transform $transform-duration, opacity $opacity-duration;
        transition-timing-function: $transition-timing-function;
        
        @for $i from 1 through $elements-count {
            &:nth-child(#{$i}) {
                @include transition-delay($i);
                transform: translateY($traslate-y);
            }
        }
    }

    &.animate{
        *:not(a, .btn, svg, svg .hover-wrap *, .font-button, .link, button, polygon, .service, .hats-slider__slide, .technologies *, .container, picture, img, [class^="opacity-"], [class*=" opacity-"], .transition, .acc-content), .bg-shape {
            transform: translateY(0) !important;
            opacity: 1 !important;
        }
    }
}

.service{
    opacity: 0;
    transform: translateY($traslate-y);
    transition: transform $transform-duration, opacity $opacity-duration;
    transition-timing-function: $transition-timing-function;
    &.animate{
        transform: translateY(0) !important;
        opacity: 1 !important;
    }
}

footer{
    .col {
        opacity: 0;
        transition: transform $transform-duration, opacity $opacity-duration;
        transition-timing-function: $transition-timing-function;
        
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                @include transition-delay($i);
                transform: translateY($traslate-y);
            }
        }
    }

    &.animate{
        .col {
            transform: translateY(0) !important;
            opacity: 1 !important;
        }
    }
}

header {
    *{
        opacity: 0;
        transition: opacity $opacity-duration;
        transition-timing-function: $transition-timing-function;
    }
    &.animate{
        * {
            opacity: 1;
        }
    }
}